.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  overscroll-behavior: none;
  scroll-snap-type: y proximity;
}

.container > div > div:last-child {
  scroll-snap-align: end;
}
