.navbar {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  height: 100vh;
  width: 16rem;
  min-width: 16rem;
  max-width: 16rem;
  padding: 1rem;
  overscroll-behavior: none;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobileToolbar {
  height: 56px;
  border-bottom: 1px grey solid;
  z-index: 1;
}

.navbarMobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.link {
  display: flex;
  flex: 1;
  justify-content: space-between;
  text-decoration: none;
  border-radius: var(--mantine-radius-md);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  padding: 0 var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  height: rem(44px);
  line-height: rem(44px);

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-5)
    );
    color: light-dark(var(--mantine-color-dark), var(--mantine-color-light));
  }

  &[data-active] {
    border-left-color: var(--mantine-color-blue-filled);
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}
